.scroll {
  scrollbar-width: none;
  overflow: auto;
}

.scroll::-webkit-scrollbar {
  width: 0.5rem;
  background: transparent;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  transition: opacity 0.3s;
}